body{
	background: rgb(76, 3, 49);
}


#text h1{
	font-size: 100px;
	font-family: Segoe UI Light;
	text-align: center;
	margin-top: 15%;
	margin-bottom: 10px;
	color: rgba(255,255,255,.6);
	font-weight: 100;
}

#text p{
	text-align: center;
	font-weight: 100;
	font-size: 40px;
	margin-top:10px;
	color: rgba(255,255,255,.5);
	font-family: Segoe UI Light;

}
