body{
	background: rgb(255, 0, 82);
}

#logo{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 400px;
	height: 400px;
	margin: 2em auto;
	background: white;
	position: relative;
	margin-top:80px;
}

#logo > div {
	position: absolute;
	width: 19%;
	height: 19%;
	background: rgb(255, 0, 82);
	border-radius: 50%;
}

#logo > #left {
	top:5%;
	top: 30%;
	left: 16%;
}

#logo > #right {
	top: 24%;
	right: 18%;
	width: 32%;
	height: 32%;
}

#text h1{
	font-size: 70px;
	font-family: Segoe UI Light;
	text-align: center;
	margin-top: 6%;
	margin-bottom: 10px;
	color: rgba(255,255,255,.6);
	font-weight: 100;
}

#text p{
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	margin-top:10px;
	color: rgba(255,255,255,.5);
	font-family: Segoe UI Light;

}
